/* stylelint-disable css-lcurlyexpected */
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

* {
}

#root {
  height: 100%;
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  background-color: #202020;
  color: #CECECE;
}
